.root {
  color: var(--dark-blue);

  .wrapper {
    width: 460px;

    @media screen and (max-width: 500px) {
      width: 100%;
      padding: 0 10px;
    }
  }

  .title {
    font-size: var(--xl_9);
    line-height: var(--xl_9);
    margin-bottom: 13px;
  }

  form {
    padding: 15px 0;
    margin-bottom: 2px;

    .errorAlert {
      margin-bottom: 15px;
      font-size: var(--base);
    }

    .row {
      display: flex;
      justify-content: space-between;

      >div {
        width: 47%;
      }
    }

    .inputGroup {
      margin-bottom: 22px;
    }
  }

  .validate {

    .validateItem {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 5px;
      font-size: var(--sm);
      line-height: var(--xl);
      color: var(--cyan);

      &.invalid {
        color: var(--dark-blue);

        .indicator {
          border-color: var(--dark-blue);
          background-color: transparent;
        }
      }

      .indicator {
        width: 12px;
        height: 12px;
        border: 1px solid var(--cyan);
        background-color: var(--cyan);
        border-radius: 6px;
      }

      span {
        position: relative;
        top: 1px;
      }
    }
  }

  .btn {
    margin-top: 51px;
    // margin-bottom: 16px;
  }

  .footer {
    text-align: center;
    color: rgba(49, 46, 129, 0.8);
    font-size: var(--lg);
    line-height: var(--xl_4);

    .link {
      color: var(--cyan);
      font-weight: var(--bold);
    }
  }
}