.root {
  // padding-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: var(--dark-blue);
  margin-bottom: 100px;

  .link {
    font-size: var(--xl_6);
    color: var(--full-white);
    font-weight: var(--bold);
  }
}

.main {

  .profileData {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    .title {
      position: relative;
      top: 1px;
      font-weight: var(--bold);
    }

    .info {

    }
  }

  .logOutBtn {
    margin-top: 100px;
  }
}